body{
    font-size: 13px;
    line-height: 1.7
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.color-grey{
    color: #ccc
}
.color-blue{
    color: #017EFF
}
.ui-slider{
    padding-top: 75%
}
.ui-btn-lg{
    border: 0
}
.ui-tooltips{
    z-index: 2
}
input,textarea{
    border-radius: 5px;
}
/*页面导航*/
.ui-footer-positive, .ui-header-positive{
    background: #0056ff
}
.header-fixed-btn{
    position: absolute;
    top: 0;
    font-size: 32px;
    line-height: 44px;
    padding: 0 15px
}
.ui-header .fa-angle-left{
    left: 0;
}
.ui-header .fa-home{
    right: 36px;
    font-size: 24px;
}
.ui-header .header-toggle-btn{
    right: 0;
    font-size: 24px;
}
.ui-header h1{
    max-width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 auto
}
.top-navbar{
    height: 38px;
    background: url(../images/topbar_bg.png) repeat-x top;
    position: fixed;
    right: 0;
    top: 45px;
    width: 100%;
    z-index: 97
}
.top-navbar .ui-col{
    text-align: center;
    line-height: 38px;
}
.top-navbar a{
    text-align: center
}
.top-navbar .header-btn{    
    width:auto;
    max-width: 100%;    
    border-radius: 20px;
    padding: 5px 10px;   
    color: #333;
    text-align: center;
    margin-top: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.top-navbar a.active{
    background: #16A9F1;
    color: #fff;
}
.top-navbar .ui-searchbar-wrap{
    background: transparent
}
.top-navbar ~ .ui-container,.top-navbar ~ .container,.header-hack{
    border-top: 93px solid transparent;
}
/*按钮*/
.ui-btn-primary {
    background-color: #027EDE;
    border-color: #027EDE;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #027EDE), to(#027EDE));
    color: white;
    background-clip: padding-box;
}
.ui-btn-info {
    background-color: #06BBF0;
    border-color: #06BBF0;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #06BBF0), to(#06BBF0));
    color: white;
    background-clip: padding-box;
}
.ui-btn-light-info {
    background-color: #9adffa;
    border-color: #9adffa;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #9adffa), to(#9adffa));
    color: white;
    background-clip: padding-box;
}
.ui-btn-warn {
    background-color: #F08906;
    border-color: #F08906;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #F08906), to(#F08906));
    color: white;
    background-clip: padding-box;
}
.ui-btn-danger {
    background-color: #FD5262;
    border-color: #FD5262;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #FD5262), to(#FD5262));
    color: white;
    background-clip: padding-box;
}
.ui-btn-yellow {
    background-color: #f3c607;
    border-color: #f3c607;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #f3c607), to(#f3c607));
    color: white;
    background-clip: padding-box;
}
/*页面正文*/
.container{
    min-height: 300px;
}
/*表单页面的logo*/
.logo-holder{
    max-width: 100%;
    height: 80px;    
    margin: 25px;    
    background: url(../images/form-logo.png) no-repeat center;
    background-size: contain
}
/*模块*/
.module{
    max-width: 100%;
    margin: 15px;
    min-height: 200px;
    border-radius: 5px;
}

/*深色面板*/
.dark-block{
    max-width: 100%;
    margin: 15px;
    min-height: 200px;
    background: rgba(36,153,200,0.8);
    display: block;
    border-radius: 5px;
    padding: 30px;
    color: #fff
}
.dark-block h2{
    font-size: 18px;
    padding-bottom: 15px
}
.dark-block p{
    text-indent: 2em
}
.forum-block{
    text-align: center;
    padding: 15px 15px 0 15px;
    background: #fff;
    border-bottom: #f2f2f2
}
.forum-block .ui-avatar-one{
    margin: 0 auto;
    width: 60px;
    height: 60px;
}
.forum-block .ui-col{
    padding-bottom: 15px;
}
.seller-block{
    text-align: center;
    padding: 0;
    background: transparent;
    border-bottom: #f2f2f2;
    color: #fff
}
.seller-block a{
    color: #fff
}
.seller-block .ui-avatar-one{
    margin: 0 auto
}
.seller-block .ui-col{
    padding-bottom: 15px;
}
.sales-champions{
    color: #dd0303
}
.servce-lists{
    margin-top: 15px;
    margin-bottom: 30px;
}
.servce-lists .ui-list-thumb{
    width: 80px;
    height: 80px;
    border-radius: 5px;
}
.dark-blue-form{
    max-width: 100%;
    margin: 25px;
    min-height: 200px;
    background: rgba(32,104,181,0.9);
    display: block;
    border-radius: 5px;
    padding: 15px;
}
.dark-blue-form h1{
    color: #fff;
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
}
.dark-blue-form .ui-form{
    background: transparent
}
.dark-blue-form .ui-form .ui-form-item{
    margin-bottom: 18px;
    border: 1px solid #fff;
    border-radius: 5px;
}
.dark-blue-form .ui-form .ui-form-item label{
    color: #f29900
}
.dark-blue-form .ui-tooltips-warn .ui-tooltips-cnt{
    background: rgba(255,255,255,0.6);
    padding-top: 0;
    padding-bottom: 0;
    color: #6f4a0a;
    border: 1px solid #fff;
    border-radius: 5px;
}
.dark-blue-form .btn-holder{
    height: 45px;
    width: 110px;
    margin: 17px auto 0;
    background: #fa9121;
    text-align: center;
    padding: 4px;
    border-color: #fa9121;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #fa9121), to(#b66105));
    background-clip: padding-box;
}
.dark-blue-form input,.dark-blue-form select{
    color: #fff;
    font-size: 13px;
}
.dark-blue-form input::-webkit-input-placeholder,.dark-blue-form textarea::-webkit-input-placeholder { 
    color:    #fff;
    font-size: 13px;
}
.dark-blue-form input:-moz-placeholder,.dark-blue-form textarea:-moz-placeholder { 
    color:    #fff;
    font-size: 13px;
}
.dark-blue-form input::-moz-placeholder,.dark-blue-form textarea::-moz-placeholder { 
    color:    #fff;
    font-size: 13px;
}
.dark-blue-form input:-ms-input-placeholder,.dark-blue-form textarea:-ms-input-placeholder { 
    color:    #fff;
    font-size: 13px;
}

.dark-blue-form .btn-holder button{
    border: 1px dashed #333;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    font-size: 18px;
    color: #fff
}
/*面板*/
.panel{
    max-width: 100%;
    margin: 15px;
    min-height: 200px;
    background: rgba(255,255,255,0.95);    
    border-radius: 5px;   
    margin-bottom: 20px;

}
.panel .panel-header{
    height: 48px;
    font-size: 18px;
    line-height: 48px;
    text-align: center;
    color: #fff;
    background: url(../images/panel-header-bg.png) repeat-x bottom;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.panel .panel-body{
    padding: 25px;
    border: 1px solid #2499DC
}
.panel-form .form-item{
    clear: both;
    position: relative;
    margin-bottom: 15px;
}
.panel-form label{
    width: 60px; 
    position: absolute;
    left: 0;
    top:6px;
    text-align: justify;
    color: #6c6d6e
}
.panel-form .form-input,.panel .panel-form .form-submit{
    padding-left: 60px;    
}
.panel-form input,.panel .panel-form textarea{
    border: 1px solid #2398DB;
    padding: 10px 5px;
    width: 100%;
}
.panel-form .form-submit button{
    border-radius: 200px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-appearance: none;
    border: none
}
.panel-form .form-submit .ui-btn-lg:before,.panel-form .form-submit .ui-btn-primary:before{
    border: none
}
.process-timeline{
    padding-bottom:20px;
    border-bottom: 1px dashed #ccc;
    margin-bottom: 15px;
}
.timeline-item{
    padding-left: 10px;
    border-left: 2px solid #2499DC;
    position: relative;
    padding-bottom: 30px;
}
.timeline-item .dot{
    position: absolute;
    top: 0;
    left: -8px;
    color: #2499DC;
    width: 16px;
    height: 16px;
    display: block;
    font-size: 16px;
}
.timeline-item .dot-white{
    background: #fff
}
.timeline-item h4{
    color: #35a0dd;
}
.timeline-item + .timeline-item{
    margin-top: -15px;
}
.timeline-item:last-child{
    border: 0
}
.timeline-item:last-child .dot{
    left: -6px;
}
.timeline-item-grey{
    border-color:#6d6b6b;
}
.timeline-item-grey .dot{
    color: #6d6b6b;
}
.timeline-item-grey h4{
    color: #6d6b6b;
}
/*首页*/
.index-navbar-holder{
    padding: 0 10px;
}
.index-navbar-holder .ui-btn-lg:before,.index-navbar-holder .ui-btn-s:before,.index-navbar-holder .ui-btn:before{
    border: none
}
.index-navbar-holder .ui-list{
    background: rgba(255,255,255,0.8);
    margin-bottom: 5px;
    height: 74px;
}
.index-navbar-holder .ui-list>li{
    margin-left: 0;
}
.index-navbar-holder .ui-list-img{
    width: 84px;
    height: 74px;
    color: #fff;
    text-align: center;
    line-height: 72px;
    font-size: 36px;
    margin: 0;
    margin-right: 15px;
}
.index-navbar-holder .ui-btn{
    border: 0;
    border-radius: 200px;
    background: #fff;
    min-width: 34px;
    width: 34px;
    height: 34px;
    padding: 0;
    font-size: 18px;
    line-height: 34px;
    color: #0466ff;    
}
.index-navbar-holder .active{
    background: #0466ff;
    color: #fff
}
.index-navbar-holder p{
    color: #a09f9f
}
.index-navbar-holder h4{
    color: #525252;
}
.index-navbar-holder .bg-color-1{
    background: #0466ff
}
.index-navbar-holder .bg-color-2{
    background: #f0cd01
}
.index-navbar-holder .bg-color-3{
    background: #82db03
}
.index-navbar-holder .bg-color-4{
    background: #a41ab6
}
.index-navbar-holder .bg-color-5{
    background: #04c0e8
}
.index-navbar-holder .bg-color-6{
    background: #f75607
}
/*报事报修*/
.report-btns .ui-list{
    margin-bottom: 15px;
    border-radius: 5px
}
.report-btns .report-title{
    color: #333
}
/*进度展示*/
.schedule-item{
    max-width: 100%;
    margin: 15px;
    min-height: 200px;
    background: rgba(255,255,255,0.9);    
    border-radius: 5px;   
    margin-bottom: 20px;    
    padding: 15px 10px 15px 0;
    border: 1px solid #2499DC
}
.schedule-item img{
    width: 100%;
}
.schedule-item .author,.shop-display .author{
    margin-left: 10px;
    color: #2983DB
}
.schedule-item .ui-list{
    background: transparent
}
/*商家介绍*/
.shop-title-holder{
    text-align: center;
    color: #E2A962;
    border: 2px solid #E2A962;
    padding: 5px 0;
    margin-bottom: 15px;
    border-radius: 5px;
}
.shop-service{
    color: #2399D9;
    line-height: 1.7;
    padding-bottom: 5px;
    border-bottom: 2px solid #E8E8E6;
    margin-bottom: 15px
}
.shop-desc{
    padding-bottom: 15px
}
.shop-desc p{
    text-indent: 2em;
    color: #696666
}
.shop-display .shop-display-date{
    color: #ccc;
    margin-bottom: 5px;
}
.shop-display img{
    max-width: 100%;
}
.news-subtitle{
    color: #2699DC;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc
}
.news-content{
    color: #595959
}
.news-content p{
    text-indent: 2em
}
.news-content img{
    max-width: 100%;
    padding: 5px 0
}
/*项目详情*/
.project-detail h1{
    margin-bottom: 15px;
    color: #fff
}
.project-desc{
    background: #0a58a3;
    padding: 15px;
    color: #fff
}
.project-detail .project-desc p{
    text-indent: 2em;
}
.project-detail .project-desc img{
    max-width: 100%;
    text-indent: 0;
}
.project-footer-navbar{
    height: 45px;
}
.project-footer-navbar .ui-col{
    text-align: center;
    font-size: 16px;
    padding: 10px 0;
    color: #fff
}
.project-footer-navbar .project-phone{
    background: #0A68C0
}
.project-footer-navbar .project-map{
    background: #3A9FBB
}
.project-footer-navbar .project-sms{
    background: #DE504F
}
/*新闻动态*/
.news-lists .ui-list-thumb{
    width: 60px;
    height: 60px;
}
.news-lists .ui-list-info h4{
    font-size: 14px;
}
.news-lists .ui-list-info p{
    font-size: 13px;
}
/*便民服务*/
.fixed-service-btns-holder{
    width: 320px;
    height: 500px;
    margin: 0 auto;
    position: relative
}
.fixed-service-btns-holder img{
    max-width: 100%;
}
.fixed-service-btns{
    position: absolute;
    top: 42%;
    left: 50%;
    margin-left: -90px
}
.fixed-service-btns .ui-btn-lg:before,.fixed-service-btns .ui-btn-s:before,.fixed-service-btns .ui-btn:before{
    border:none
}
.fixed-service-btns .ui-btn-wrap{
    width: 180px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 10px;
    padding-top: 0;
}
.fixed-service-btns .ui-btn-lg{
    font-size: 14px;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    box-shadow: none;
    height: 36px;
    line-height: 36px;
}
/*购房直通车*/
.condition-items,.condition-label,.condition-btns{
    clear: both
}
.condition-items{
    margin-bottom: 10px;
}
.condition-items .ui-btn-wrap{
    padding: 0
}
.condition-items button{
    color: #fff;
    border: 1px solid #fff;
}
.condition-label{
    margin-bottom: 10px;
}
.condition-label button{
    background: #74b1fc;   
    border-color: #74b1fc;
    height: 28px;   
}
.condition-btns .ui-btn-wrap button{
    margin-bottom: 10px;
    background: #0459ad;
    padding-left: 5px;
    padding-right: 5px; 
    width: auto;
    height: 28px;   
    border-radius: 5px;
}
.condition-btns .ui-btn-wrap button.active{
    background: #fb3d3d;
    color: #fff
}
.condition-items button.condition-reset{
    background-color: #0c9de0;
    border-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, #0c9de0), to(#063185));
    color: white;
    background-clip: padding-box;
    padding: 5px 10px;
    height: 42px;
    min-width: 80px;
}
.condition-items button.condition-submit{
    background-color: #ff6c00;
    border-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, #ff6c00), to(#a35502));
    color: white;
    background-clip: padding-box;
    padding: 5px 10px;
    height: 42px;
    min-width: 80px;
}
.ui-grid-full {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    padding-top: 0;
    background: transparent;
}
.ui-grid-full>li {
    width: 100%;
}
.ui-grid-full li {
    padding-bottom: 10px;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
}
.ui-grid-full-img {
    padding-top: 54.8%;
    position: relative;
    width: 100%;
}
.ui-grid-full-img img, .ui-grid-full-img>span {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.ui-grid-full .post-list-top-fixed {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.5);
    z-index: 1;
    height: 50px;
    padding-left: 15px;
    padding-top: 5px;
    color: #f6ae00
}
.post-list-top-fixed .post-list-title {    
    font-size: 16px;
    color: #fff;    
}
/*在线咨询页面*/
.contact-project-logo{
    width: 70px;
    height: 55px;
    margin: 0 auto 15px;
}
.contact-project-logo img{
    max-width: 100%
}
.contact-project-faceimg img{
    max-width: 100%
}
/*百问百答*/
.question-answers{
    margin-bottom: 15px;
}
.question-answers li{
    list-style:disc;
    list-style:inside;
    margin-bottom: 5px;
    color: #fff
}
/*页面背景*/
.fixed-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    z-index: -1;    
    background-size:cover 
}
.fixed-bg img{
    width: 100%;
}
.question-bg{
    background: url(../images/question-bg.png) no-repeat center;
    background-size: cover
}
.bluesky-bg{
    background: url(../images/bluesky-bg.png) no-repeat center;
    background-size: cover
}
.city-bg{
    background: url(../images/city-bg.png) no-repeat center;
    background-size: cover
}
.service-bg{
    background: url(../images/service_bg.png) no-repeat;
    background-size: cover
}
.online-contact{
    background: #223A92
}
.unique-service-bg{
    background: url(../images/unique-service-bg.png) no-repeat;
    background-size: cover
}
/*页面底部导航*/
.footer-hack{
    border-bottom: 56px solid transparent;
}
.footer-container{
    height: 50px;
    background: #0056ff;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 96
}
.footer-logo{
    width: 200px;
    height: 50px;
    margin: 0 auto;
    background: url(../images/footer_logo.png) no-repeat center;
    background-size: contain
}
/*边侧导航*/
.header-scroller{
    display: none;
    position: fixed;
    right: 0;
    top:0;
    width: 50%;
    height: 100%;
    overflow-y: scroll;
    z-index: 99;
    background: rgba(0,0,0,0.8);
    color: #a7a7a7;
}
.header-scroller .ui-list{
    background: transparent
}
.body-cover{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 97
}
.bg-elements img {position:absolute; z-index:1;}
.bg-elements img.anim-scale {-webkit-transform:scale(0,0); -webkit-transition:-webkit-transform 1000ms;}
.bg-elements img:nth-child(1) {right:0; top:50px; width:43.65%;}
.bg-elements img:nth-child(2) {right:55px; top:190px; width:43.65%;}
.bg-elements img:nth-child(3) {right:40px; top:300px; width:17.53%;}
.bg-elements img:nth-child(4) {right:15px; top:400px; width:31.15%;}
body.menu-on .bg-elements img:nth-child(1) {-webkit-transition-delay:1500ms;}
body.menu-on .bg-elements img:nth-child(2) {-webkit-transition-delay:1000ms;}
body.menu-on .bg-elements img:nth-child(3) {-webkit-transition-delay:500ms;}
body.menu-on .bg-elements img.anim-scale {-webkit-transform:scale(1,1); -webkit-opacity:1;}
body.menu-on .ui-header,body.menu-on .ui-container,body.menu-on .top-navbar,body.menu-on .footer-container,body.menu-on .container{-webkit-transform:translateX(-50%);}
/*body.menu-on .ui-header~.ui-container{
    border-top: 0
}*/